
text {
  font: 10px "Roboto Condensed" sans-serif;
}

/* used for words for topics html box */
appendix {
    font: 12px "Roboto Condensed" sans-serif;
}

.d3-tip {
  font: 15px "Roboto Condensed" sans-serif;
  line-height: 1;
  visibility: visible;
  font-weight: bold;
  left: 100px;
  position: fixed;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 20px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  right: 100px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.9);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
